 @{
    Layout = "_LayoutMaketer";
}  

<div class="d-flex container-fluid justify-content-center">
      <div class="w-75 mt-5">
        <h1>Update Category</h1>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Category Name</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Description</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <button type="button" class="mt-2 btn btn-success">Submit</button>
      </div>
    </div>