@{
    Layout = "_LayoutProduct";
} 
<div class="d-flex container-fluid justify-content-center">
      <div class="w-75 mt-5">
        <button type="button" class="btn btn-success">Add New Product</button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Quantity</th>
              <th scope="col">Img</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th class="justify-content-center text-center" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td class="justify-content-center text-center">
                <button type="button" class="btn btn-danger">Remove</button>
                <button type="button" class="btn btn-warning">Edit</button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>Otto</td>
              <td>fat</td>
              <td>fat</td>
              <td>fat</td>
              <td>fat</td>
              <td class="justify-content-center text-center">
                <button type="button" class="btn btn-danger">Remove</button>
                <button type="button" class="btn btn-warning">Edit</button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>twitter</td>
              <td>fat</td>
              <td>fat</td>
              <td>fat</td>
              <td></td>
              <td class="justify-content-center text-center">
                <button type="button" class="btn btn-danger">Remove</button>
                <button type="button" class="btn btn-warning">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>